[Desktop Entry]
Encoding=UTF-8
Name=Eyco
Comment=Eyco P2P Cryptocurrency
Comment[fr]=Eyco, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eyco, eşten eşe kriptografik sanal para birimi
Exec=eyco-qt %u
Terminal=false
Type=Application
Icon=eyco128
MimeType=x-scheme-handler/eyco;
Categories=Office;Finance;
